<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>show</title>
    </head>
    <body>
        <h1><%= campground.title %></h1>
        <h2><%= campground.location %></h2>
        <br />
        <a href="/campgrounds">back</a>
        <a href="/campgrounds/<%=campground._id%>/edit"> edit this </a>
        <form
            action="/campgrounds/<%=campground._id%>?_method=DELETE"
            method="POST"
        >
            <button>DELETE</button>
        </form>
    </body>
</html>
