<% layout('layouts/boilerplate') %>
<main>
    <header class="sticky-top"><%- include("../partials/navbar") %></header>
    <div class="container mt-5">
        <%- include("../partials/flash") %>

        <div class="container mt-1 mb-5">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <div class="card shadow">
                        <img
                            src="https://source.unsplash.com/random/500x200/?nature"
                            alt=""
                            class="card-img-top"
                        />
                        <div class="card-body">
                            <h5 class="card-title">Login</h5>
                            <form
                                action="/login"
                                method="POST"
                                class="validated-form"
                                novalidate
                            >
                                <div class="mb-3">
                                    <label class="form-label" for="username"
                                        >Username:</label
                                    >
                                    <input
                                        class="form-control"
                                        type="text"
                                        name="username"
                                        required
                                        autofocus
                                        id="username"
                                    />
                                    <div class="invalid-feedback">
                                        Username can't be blank...
                                    </div>
                                </div>

                                <div class="mb-3">
                                    <label class="form-label" for="password"
                                        >Password:</label
                                    >
                                    <input
                                        class="form-control"
                                        type="password"
                                        name="password"
                                        required
                                        id="password"
                                    />
                                    <div class="invalid-feedback">
                                        Password can't be blank...
                                    </div>
                                </div>
                                <div class="d-grid gap-2">
                                    <button
                                        class="btn btn-success"
                                        type="submit"
                                    >
                                        Login
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
