<% layout('layouts/boilerplate') %>

<h1>Register</h1>

<form action="/register" method="POST" class="validated-form" novalidate>
    <div class="mb-3">
        <label class="form-label" for="username">Username:</label>
        <input
            class="form-control"
            type="text"
            name="username"
            required
            id="username"
        />
        <div class="invalid-feedback">Username can't be blank...</div>
    </div>
    <div class="mb-3">
        <label class="form-label" for="email">Email:</label>
        <input
            class="form-control"
            type="email"
            name="email"
            required
            id="email"
        />
        <div class="invalid-feedback">Enter a valid email...</div>
    </div>
    <div class="mb-3">
        <label class="form-label" for="password">Password:</label>
        <input
            class="form-control"
            type="password"
            name="password"
            required
            id="password"
        />
        <div class="invalid-feedback">Password can't be blank...</div>
    </div>
    <button class="btn btn-success">Register</button>
</form>
